.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
  padding-top: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Menu */
.menu {
  text-align: justify;
  width: 800px;
  margin: 0 auto;
}

.menu-setting {
  display: inline-block;
  width: 400px;
  background-color: rgb(95, 95, 99);
}


.center {
  text-align: center;
  margin: 0 auto;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

#stockbox {
  border: 0px solid black;
  max-width: 1000px;
  min-height: 500px;
  background-color:rgb(95, 95, 99);
  margin-top: 5%;
}

#stockchart {
  border: 0px solid green;
  /* min-width: 1200px; */
  width: 100%;
  min-height: 499px;
  background-color: rgb(95, 95, 99);
}

/* Stock List */

#stocklist {
  min-height: 100px;
  max-width: 1000px;
  background-color: rgb(95, 95, 99);
  text-align: left;
  /* padding-left: px; */
}

#addbox {
  border: 5px solid rgb(52, 224, 52);
}

/* Tiles */

.tiles {
  background-color: whitesmoke;
  border: 1px solid #e6e9ef;
  min-width: 215px;
  max-width: 300px;
  height: 80px;
  padding: 10px;
  margin-top: 3px; 
  margin-bottom: 3px;  
  margin-left: 8px;
  position: relative;
  display: inline-block;
  overflow:hidden;
 
}

[class*='close-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

.symbol {
  font: 25px/100% sans-serif;
  margin-top: 15px;
}

.description {
  font: 16px san-serif;
}

/* settings button */
.stockTypeBtn {
  border: 1px solid whitesmoke;
  background-color: #777;
  width: 45px;
  height: 20px;
  color: white;
  margin-left: 5px;
  display: inline-block;
}